h1 {
    text-align: center;
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
    
}
h2 {
    text-align: center;
    font-size: 50px;

}
.story {
    column-count: 2;
    display:inline-block;
}
.puppy {
    display: block;
    width: 5px;
    height: 5px;
  }
.image-one{
    height: 500px;
    width: 300px;
}
.box{
    height: 250px;
    width: 250px;
    background-color: dodgerblue;
}