body {
    background-image: url('https://images.pexels.com/photos/776656/pexels-photo-776656.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
    background-attachment: fixed;
    background-size: cover;
}
h1 {
border: 5px solid black;
text-align: center;
position: absolute;
margin: auto;
width: 215px;
left: 500px;

}

.nav {
display: flex;
justify-content: space-between;
font-family: sans-serif;
padding: 20px;
border: 1px;
margin: 15px;

}



.footer {
    position: static;
    bottom: 0;
    border-color: olive;
    border: 2px;
}

